.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 233px;
  min-height: 92px;
  padding-top: 109px;
}

.logo-container img {
  height: 92px;
}

.search-field-container {
  width: auto;
  max-width: 584px;
  height: 50px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  background-color: white;
  margin-top: 20px;
  margin: auto;
}

.search-field-container:hover {
  border: 2px solid rgba(200, 200, 200);
}

.buttons-container {
  width: 500px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

.buttons-container button {
  background-color: rgb(243, 243, 243);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid transparent;
}

.buttons-container button:hover {
  border: 1px solid gray;
}
